
<div class="signin-container">
    <form [formGroup]="signInForm" (ngSubmit)="onSubmit()" class="signin-form">
      <h1>Sign In</h1>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" id="email" formControlName="email" class="form-control" />
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" formControlName="password" class="form-control" />
      </div>
      <button type="submit" class="btn btn-primary">Sign In</button>
  
      <div *ngIf="signInError" class="error-message">{{ signInError }}</div>
      <div class="d-flex justify-content-between">
        <a routerLink="/forgotpassword" class="">Forget Password</a>
        <a routerLink="/register" class="">Create account</a>
      </div>


    </form>
  </div>
  