<div class="container">
    <div class="card">
        <div class="card-item">
          <label>Sr.No:</label>
          <!-- Content for Sr.No -->
        </div>
        <div class="card-item">
          <label>Product Name:</label>
          <!-- Content for Product Name -->
        </div>
        <div class="card-item">
          <label>Product Image:</label>
          <!-- Content for Product Image -->
        </div>
        <div class="card-item">
          <label>Description:</label>
          <!-- Content for Description -->
        </div>
        <div class="card-item">
          <label>Price:</label>
          <!-- Content for Price -->
        </div>
        <div class="card-item">
          <label>Quantity:</label>
          <!-- Content for Quantity -->
        </div>
        <div class="card-item">
          <label>Total:</label>
          <!-- Content for Total -->
        </div>
        <div class="card-item">
          <label>Action:</label>
          <!-- Content for Action -->
        </div>
      </div>
</div>

